*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.content{
  width: 80%;
  margin: 0 auto;
}

.header{
  display: flex;
  margin-top: 30px;
}

.headline{
  display: inline-block;
  width: 70%;
}

.headline h1{
  display: block;
}

.buttons{
  display: inline-block;
  width: 30%;
  text-align: right;
}

.buttons button{
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
  margin-right: 10px;
}

.save{
  color: white;
  background:#256ec2;
}

.save:hover{
  cursor: pointer;
  background-color: #69aaf5;
}

.cancel{
  color: white;
  background: #b5b5b5;
}

.cancel:hover{
  color: black;
  cursor: pointer;
  background-color: #e0e0e0;
}

.line{
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: #424242;
}
#product_form label {
  font-size: 18px;
}
#product_form input{
  margin: 10px 0px 0px 10px;
}
#product_form select{
  margin: 10px 0px 0px 10px;
}
#dynamicForm span{
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
#error{
  color: red;
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.line2{
  margin-top: 42%;
  width: 100%;
  height: 1px;
  background: #424242;
}
.footer-text{
  text-align: center;
  margin: 30px 0;
}