*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.content{
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    margin-top: 30px;
}

.headline{
    display: inline-block;
    width: 70%;
}

.headline h1{
    display: block;
}

.buttons{
    display: inline-block;
    width: 30%;
    text-align: right;
}

.buttons button{
    border: 0;
    border-radius: 0;
    padding: 10px 20px;
    margin-right: 10px;
}

#add{
    text-transform: uppercase;
    color: white;
    background: #b5b5b5;
}

#add:hover{
    color: black;
    cursor: pointer;
    background-color: #e0e0e0;
}

#delete-product-btn{
    text-transform: uppercase;
    color: white;
    background:#911707;
}

#delete-product-btn:hover{
    cursor: pointer;
    background-color: #d46262fa;
}
  
.line{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #424242;
}
.form{
    font-size: 0px;
    width: 90%;
    margin: 0 auto;
}
#product_list{
    width: 100%;
}
  
.item{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    width: 22%;
    margin:2%  1.5%;
    height: 250px;
}

.delete-checkbox{
    float: left;
    margin: 20px 0px 0px 20px;
    width: 20px;
    height: 20px;
}
.sku{
    margin-top: 50px;
    
}
h4{
    font-weight: 200;
    margin: 3px 0px;
}
.line2{
    margin-top: 50%;
    width: 100%;
    height: 1px;
    background: #424242;
  }
.footer-text{
    text-align: center;
    margin: 30px 0;
  }